
	.k{
		padding: 15px;
		width:100%;
	      margin:0 auto;
		background: #006064;
	}
.title1 {
    font: 16px "Century Gothic", "Times Roman", sans-serif;
}


.footer {
    
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid;
    border-color: #323232;
    background-color: #202020;

   
}

.footer a {
    margin: 25px;
    color: orange;
    text-decoration: none;
    font: 15px "Century Gothic", "Times Roman", sans-serif;

}



